# Node.js
node_modules/
npm-debug.log
.env

# Angular
/frontend/dist/
/frontend/node_modules/
/frontend/.angular/
/frontend/npm-debug.log*
/frontend/yarn-error.log*

# Backend
/backend/node_modules/
/backend/dist/ # if you compile backend JS
/backend/npm-debug.log*

# Gateway
/gateway/node_modules/
/gateway/npm-debug.log*

# Docker
.dockerignore # Don't ignore itself, but related files might be here
*.log
*.swp
.vscode/ # VS Code settings, optional